<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.BlogCast.IocConfig, SitecoreCognitiveServices.Feature.BlogCast" />
    </services>
    <sites>
      <site name="blogcast" patch:before="site[@name='website']"
        hostName="blogcast.local" rootPath="/sitecore/content/Blog Cast"
        startItem="/home" database="web" domain="extranet" language="en" physicalFolder="/" />
    </sites>
  </sitecore>
</configuration>