<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
           <configurations>
               <configuration
                   name="SitecoreCognitiveServices.Feature.BlogCast"
		           description="Configuration for the Blog Cast Feature"
                   dependencies="SitecoreCognitiveServices.Foundation.SCSDK">
                   <targetDataStore
                       physicalRootPath="$(CognitiveSerializationRootPath)Feature\BlogCast\code\serialization\"
                       type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                       useDataCache="false"
                       singleInstance="true" />
                   <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                     <include name="Content" database="master" path="/sitecore/content/Blog Cast" />
                     <include name="Templates" database="master" path="/sitecore/templates/Sitecore Cognitive Services/Features/Blog Cast" />
                     <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Sitecore Cognitive Services/Features/Blog Cast" />
                     <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Sitecore Cognitive Services/Features/Blog Cast" />
                   </predicate>
                   <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
                   <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
                </configuration>
            </configurations>
		</unicorn>
	</sitecore>
</configuration>
